### Задание 1

Импортируйте библиотеки pandas и numpy.

In [1]:
import numpy as np
import pandas as pd

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и Y из этих данных.

In [2]:
from sklearn.datasets import load_boston
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [3]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [4]:
data = boston.data
data.shape

(506, 13)

In [5]:
target = boston.target
target.shape

(506,)

In [6]:
feature_names = boston.feature_names
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [7]:
X = pd.DataFrame(data, columns=feature_names)
X.shape

(506, 13)

In [8]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [10]:
Y = pd.DataFrame(target, columns=['price'])
Y.shape

(506, 1)

In [11]:
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [12]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

Разбейте эти датафреймы на тренировочные (x_train, y_train) и тестовые (x_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X,Y, test_size=0.30, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [17]:
lr.fit(X_train1, y_train1)

LinearRegression()

In [18]:
y_pred1 = lr.predict(X_test1)

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [19]:
from sklearn.metrics import r2_score

In [20]:
r2lr = r2_score(y_test1, y_pred1)
r2lr

0.7112260057484918

### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
model = RandomForestRegressor(n_estimators=1000, 
                            max_depth=12,
                            random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],чтобы получить из датафрейма одномерный массив Numpy,так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X,Y, test_size=0.30, random_state=42)

In [25]:
model.fit(X_train2, y_train2.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

Сделайте предсказание на тестовых данных.

In [26]:
y_pred2 = model.predict(X_test2)

Посчитайте R2.

In [27]:
from sklearn.metrics import r2_score

In [28]:
r2rfr = r2_score(y_test2, y_pred2)
r2rfr

0.87472606157312

Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [29]:
if(r2lr > r2rfr):
    print("LinearRegression работает лучше!")
else:
    print("RandomForestRegressor работает лучше!")

RandomForestRegressor работает лучше!